* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}




/* Header start */

.logo {
    padding-left: 40px;
    padding-top: 30px;
}
.header-text {
    padding-left: 120px;
    padding-top: 80px;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    
}

.header-desc {
    padding-left: 120px;
    font-size: 22px;
    font-weight: 400;
}

.hero-container {
    display: flex;
    
    
}
.right {
    margin: 0px auto;
}

.main-img {
    height: 600px;
}
/* Header end */






/* tech start */

.tech {
    margin: 60px 60px;
    display: flex;
    flex-wrap: wrap;
}
.tech-img {
    width: 40vw;
}
.tech-heading {
    font-size: 80px;
    padding-left: 40px;
    line-height: 1.2;
    letter-spacing: -3px;
}
.tech-desc {
    padding-left: 50px;
    font-size: 30px;
    color: #676767;
}
/* 
@media screen and (max-width: 1200px) {
    .tech {
        flex-direction: column;
        align-items: center;
    }
    .tech-heading {
        font-size: 40px;
    }
} */
/* tech end */


/* Speaker area */
.speakerrr {
    margin-top: 150px;
    padding-top: 100px;
    align-items: center;
    background-color: #f5f5f5;
}

.meet-the-speakers {
    //text-align: center;
    font-size: 60px;
    margin-bottom: 0;
    font-weight: 600;
    letter-spacing: -2px;
   
}

.speaker-area-sub-heading {
    text-align: center;
    font-size: 25px;
    margin-top: 0;
    color: #7b7b7b;
    font-weight: 500;
    line-height: 1.3;
}
.speaker-area {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.speaker-img {
    width: 350px;
    padding-top: 80px;
}

.speaker-img-center {
    width: 450px;
}
.speaker-name-center, .speaker-prof-center, .speaker-name, .speaker-prof {
    text-align: center;
}

.speaker-name, .speaker-name-center {
    font-size: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.speaker-prof, .speaker-prof-center {
    font-size: 25px;
    
    line-height: 1.1;
    color: #7b7b7b;
    margin-top: 0px;
}
.speaker-img-con {
    padding-top: 105px;
}



@media screen and (max-width: 1200px) {

    .hero-container {
        flex-direction: column;
    }

    .speaker-area {
        flex-direction: column;
        align-items: center;
justify-content: center;
    }

    .speaker-img-center, .speaker-img, .speaker-img-con {
        //width: 400px;
        max-width: 80vw;
        
    }
}


    .header-text {
        padding-left: 60px;
        padding-top: 0px;
        font-size: 60px;
        margin-bottom: 0;
        font-weight: 700;
        
        
    }
    .header-desc {
        padding-left: 60px;
        font-size: 17px;
        font-weight: 400;
    }
}

@media screen and (max-width: 760px) {
    .main-img {
        height: 500px;
    }
}

@media screen and (max-width: 630px) {
    .main-img {
        height: 400px;
    }
    .meet-the-speakers {
        
        font-size: 45px;
        padding-left: 30px;
    }
    .speaker-area-sub-heading {
        
        padding-left: 30px;
        font-size: 20px;
    }
    .speaker-area {
        margin-top: 0;
    }
    .speaker-img-center, .speaker-img, .speaker-img-con {
        //width: 400px;
        max-width: 80vw;
        
    }
}

/* Speaker area end */






/* footer */
footer {
    background-color: #afafaf31;
}

.footer-logo {
    padding-top: 20px;
    padding-left: 20px;
}

.footer-logo p {
    padding-top: 0px;
    margin-top: 0;
    padding-left: 45px;
}

footer h3 {
    text-align: center;
    font-weight: 700;
}

/* footer end */
















.text-ccd {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -2px;
}


.text-bigg {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -2px;
}

.text-bigg:hover {
    color: black;
    transition: 0.4s;
    transform: scale(1.012);
}
.text-subb {
    font-size: 1.2rem;
    font-weight: 400;
    color: #7b7b7b;
}

.imgg:hover {
    transform: scale(1.01);
    transition: 0.4s;
}


.hero {
    height: 100vh;
}



@media screen and (max-width: 500px) {
    .respo-pad-left {
        padding-left: 30px;
    }
    
    .logo {
        padding-left: 30px;
        padding-top: 30px;
    }
    


    .text-ccd {
        font-size: 3rem;
    }
    .main-img {
        margin-top: 100px;
    }
}


.reg-link {
    text-decoration: none;
    padding: 10px 25px;
    background-color: royalblue;
    color: white;
    font-weight: 500;
    border-radius: 100px;
    margin-top: 5px;
    
}

.reg-link:hover {
    text-decoration: none;
    color: white;
    background-color: blue;
    transition: 0.4s;
}




























.timeline {
    border-left: 3px solid #4630eb

    ;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    //background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 10px;
    letter-spacing: -1px;
}


.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

.hero {
    overflow: hidden;
}

img { max-width: 100%; height: auto; overflow: hidden; }


/* 
.space-top {
    padding-top: 100px;
    display: block;

} */




@media screen and (max-width: 1000px) {
    .reg-link {
        position: absolute;
        z-index: 1000;
        //padding: 7px 20px;
        font-size: 0.8rem;
    }
}



.speaker-name, .speaker-name-center {
    font-weight: 600;
    letter-spacing: -2px;
    padding-top: 10px;
}

.speaker-prof, .speaker-prof-center {
    letter-spacing: -1.5px;
    font-weight: 400;
}







.timer {
    text-align: center;
    background-color: #f5f5f5;
}


.timer-time {
    font-weight: 700;
    font-size: 4rem;
    //text-align: left;
    
    
}

.timer-dhs {
    //text-align: left;
    font-weight: normal;
    font-size: 1.5rem;
    display: block;
    letter-spacing: -1px;
}



#day, #hr, #min, #sec {
    color: #4630eb;
}


.spon-logos {
    overflow: visible;
    padding-bottom: 100px;
}

.sponsors {
    overflow: visible;
    
}


footer {
    -webkit-box-shadow:18px 18px 40px 0 rgba(50, 50, 50, 0.1185);
    -moz-box-shadow:18px 18px 40px 0 rgba(50,50,50,.27);
    box-shadow:18px 18px 40px 1 rgba(50, 50, 50, 0.322)}
}








.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}





.tbl {
    color: grey !important;
    font-weight: 600;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.navbaaar {
    
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 100000;
    
}

nav.sticky {
    -webkit-box-shadow:18px 18px 40px 0 rgba(50, 50, 50, 0.1185);
    -moz-box-shadow:18px 18px 40px 0 rgba(50,50,50,.27);
    box-shadow:18px 18px 40px 1 rgba(50, 50, 50, 0.322)}
}

.kites {
    height: 2px !important;
}

.navbar-toggler-icon {
    filter: invert(32%) sepia(71%) saturate(3096%) hue-rotate(221deg) brightness(96%) contrast(91%);
}



.tblue {
    color:#4630eb !important;
}









.card {
    background-color: white;
    border: none;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  .card .card-title {
    font-weight: 600;
    font-size: 2rem;
    align-items: ;
  }
  .card .card-subtitle {
    font-weight: 500;
    font-size: 1rem;
    opacity: 0.5;
  }
  .card.card-cascade i {
    border-radius: 0.25rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
  .card.card-cascade i img {
    width: 100%;
  }
  .card.card-cascade [class*=card-img-] {
    border-radius: 0.25rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
  .card.card-cascade.card-cascade-wider i {
    transform: scale(1.07);
    margin-bottom: 0.8rem;
  }
  .card.card-cascade.card-cascade-narrower i {
    transform: scale(0.92) translateY(-1.8rem);
    margin-bottom: -1rem;
  }
  .card .card-img-overlay {
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: rgba(20, 20, 20, 0.5);
  }


  footer a {
    text-decoration: none;
    color: #666666;
  }

  footer a:hover {
      color: black;
  }

  .directions {
      color: red !important;
      display: block !important;
  }